<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dongsan.board.mapper.BoardMapper">
	<!-- BoardEntity와 HomeEntity를 매핑하는 resultMap -->
	<!-- <resultMap id="boardResultMap" type="com.dongsan.board.entity.BoardEntity">
		<id property="articleNo" column="article_no" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="hit" column="hit" />

		homeNo를 사용해 HomeEntity와 매핑
		<association property="home" column="home_no" javaType="com.dongsan.home.entity.HomeEntity">
			<result property="no" column="home_no" />
			<result property="name" column="home_name" />
			<result property="latitude" column="home_latitude" />
			<result property="longitude" column="home_longitude" />
			<result property="area" column="home_area" />
			<result property="category" column="home_category" />
			<result property="price" column="home_price" />
			<result property="rentalType" column="home_rental_type" />
			<result property="memberId" column="home_member_id" />
			<result property="schoolId" column="home_school_id" />
			<result property="score" column="home_score" />
		</association>
	</resultMap>
 -->
	<insert id="posts" parameterType="com.dongsan.board.entity.BoardEntity">
		INSERT INTO community (title, memberId, homeNo, content, hit)
		VALUES (#{title}, #{memberId}, #{homeNo}, #{content}, #{hit})
	</insert>
	
	<select id="listAll" resultType="boardEntity">
		select *
		from community
		order by articleNo asc
		limit #{limit} offset #{offset}
	</select>
	
	<delete id="deleteBoard" parameterType="Integer">
		delete
		from community
		where articleNo = #{articleNo}
	</delete>
	
	<select id="findMemberIdByBoard" parameterType="Integer" resultType="String">
		select memberId
		from community
		where articleNo = #{articleNo}
	</select>
	
	<select id="findHomeNoByBoard" parameterType="Integer" resultType="Integer">
		select homeNo
		from community
		where articleNo = #{articleNo}
	</select>
	
	<select id="findBoard" parameterType="boardEntity" resultType="Integer">
		select count(*)
		from community
		where memberId = #{memberId} and title = #{title}
	</select>
	
	<update id="updateBoard" parameterType="boardEntity">
		update community
		set title=#{title}, content=#{content}
		where articleNo = #{articleNo}
	</update>
	
	<select id="myList" resultType="boardEntity">
		select *
		from community
		where memberId = #{memberId}
		order by articleNo asc
		limit #{limit} offset #{offset}
	</select>
	
	<select id="searchBySchoolId" resultType="boardEntity">
    	SELECT 
        c.articleNo AS articleNo,
        c.title AS title,
        c.homeNo AS homeNo,
        c.memberId AS memberId,
        c.content AS content,
        c.hit AS hit
    	FROM 
        community c
    	JOIN 
        home h ON c.homeNo = h.no
   		WHERE 
        h.schoolId = #{schoolId}
        order by articleNo asc
		limit #{limit} offset #{offset}
	</select>
	
	<select id="search" resultType="boardEntity">
    	SELECT *
    	FROM community
    	WHERE title LIKE CONCAT('%', #{content}, '%')
    	order by articleNo asc
		limit #{limit} offset #{offset}
	</select>



</mapper>